.webtop {
    background: #065647;
}

.webtop .lst {
    width: 100%;
}

.webtop .lst li {
    display: inline-block;
}

.webtop a {
    color: #fff;
}

.webtop .dropdown-menu {
    padding: 0;
}

/*general tours sites*/
div, p {
    word-wrap: break-word;
}

.fullImgWidth img {
    width: 100% !important;
}

.lh-45 {
    line-height: 45px !important;
}

.webtop .dropdown-menu img {
    width: 24px;
}

.webtop .dropdown-item {
    background-color: #065647;
    font-size: 14px;
}

.webtop .dropdown-item img {
    margin-right: 15px;
    width: 24px;
}

.webtop .dropdown-item:hover {
    background-color: #065647;
    color: #fff;
}

@media (max-width: 992px) {
    .webtop {
        background: repeating-linear-gradient(to bottom, #c91010, #f57d7d);
    }
}

.webtop-2 {
    background-color: white;
}

.webtop-2 .lst {
    width: 100%;
}

.webtop-2 .lst li {
    display: inline-block;
}

.webtop-2 .uplogo {
    max-height: 88px;
    padding: 10px 0;
}

.webtop-2 .mlogo {
    display: none;
}

.webtop-2 .syt {
    color: #065647;
    font-weight: bold;
}

.webtop-2 .syt span {
    color: #dbc057;
    font-style: italic;
    font-size: 17px;
}

.webtop-2 .tpon {
    font-size: 25px;
    font-weight: bold;
    color: #065647;
}

.webtop-2 .tponsub {
    font-size: 10px;
    letter-spacing: 3px;
    font-weight: 100;
}

.webtop-2 .slg1 {
    color: #ed1f1f;
    font-size: 35px;
    letter-spacing: -2px;
    font-weight: 300;
}

.webtop-2 .slg2 {
    color: #065647;
    font-size: 23px;
    letter-spacing: 2px;
    font-weight: 900;
    font-style: italic;
    border-top: 3px solid #dbc057;
}

.webtop-2 .dropdown-item {
    color: #065647;
    border-radius: 0;
}

.webtop-2 .dropdown-item:hover {
    background-color: #065647;
    color: #dbc057;
}

@media (max-width: 992px) {
    .webtop-2 {
        background: url("/content/images/stars.png"), repeating-linear-gradient(to bottom, #e4d081, #dbc057);
        background-size: 100px, contain;
        background-repeat: repeat;
        margin: 0;
        padding: 0;
    }

    .webtop-2 .mob-log {
        width: 100%;
        margin: 0;
        padding: 5px 0;
        border-top: 3px solid #a88d24;
        border-bottom: 3px solid #a88d24;
    }

    .webtop-2 .fa-bars {
        font-size: 30px;
        color: #fff;
    }

    .webtop-2 .slg1 {
        color: #9a0c0c;
        font-size: 25px;
        letter-spacing: -2px;
        font-weight: 500;
    }

    .webtop-2 .slg2 {
        color: #065647;
        font-size: 15px;
        letter-spacing: 2px;
        font-weight: 700;
        font-style: italic;
        border-top: 3px solid #ed1f1f;
        margin-bottom: 5px;
    }
}

.social-links .icon-button {
    background-color: #fff;
    border-radius: 1rem;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    height: 1.2rem;
    line-height: 0.8rem;
    margin: auto 2px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1.8rem;
}

.social-links .icon-button:hover span {
    width: 1.8rem;
    height: 1.2rem;
    border-radius: 1rem;
    margin: -0.6rem -0.9rem;
}

.social-links .icon-button i {
    background: none;
    height: 1rem;
    left: 0;
    line-height: 1.2rem;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 1.8rem;
    z-index: 10;
}

.social-links .icon-button span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}

.social-links .icon-button:hover .fa-twitter,
.social-links .icon-button:hover .fa-facebook,
.social-links .icon-button:hover .fa-instagram,
.social-links .icon-button:hover .fa-vk,
.social-links .icon-button:hover .fa-odnoklassniki-square {
    color: #fff;
}

.social-links .twitter span {
    background-color: #4099ff;
}

.social-links .facebook span {
    background-color: #3B5998;
}

.social-links .vk span {
    background-color: #4b729c;
}

.social-links .ok span {
    background-color: #ed7e1f;
}

.social-links .instagram span {
    background-color: #981e89;
}

@media (max-width: 992px) {
    .social-links {
        float: none;
        margin: 20px auto;
        text-align: center;
        padding: 0;
    }
}

.main-navbar {
    background-color: #dbc057;
}

.main-navbar .nav-link {
    background: repeating-linear-gradient(to bottom, #dbc057, #f6efd5);
    border: 1px solid #e0c86c;
    border-bottom: 0px;
    padding: 13px 0;
}

.main-navbar .nav-link:hover {
    background: repeating-linear-gradient(to bottom, #ed1f1f, #f57d7d, #ed1f1f);
    color: #000;
}

.main-navbar a {
    color: #9a0c0c;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-navbar .dropdown-item {
    color: #9a0c0c !important;
}

.main-navbar .active a {
    background: repeating-linear-gradient(to bottom, #ed1f1f, #f57d7d, #ed1f1f);
    color: #000;
}

@media (max-width: 992px) {
    .main-navbar .nav-link {
        background: repeating-linear-gradient(to right, #dbc057, #ede0ab, #dbc057);
    }
}

.district-navbar {
    background-color: #065647;
}

.district-navbar .nav-link {
    padding: 5px 0;
    background: #065647;
    min-height: 54px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition-duration: .1s;
    border-right: 1px solid #065647;
    box-shadow: 15px 8px 13px #000;
    margin: 2px;
}

.district-navbar .nav-link:hover {
    background: #043e33;
    color: #fff;
}

.district-navbar a {
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.district-navbar .dropdown-item {
    color: #333333 !important;
}

.district-navbar .active .nav-link {
    background: repeating-linear-gradient(to bottom, #065647, #0db596, #065647);
    color: #043e33;
}

.tp-cntnt {
    background: url("/content/images/stars.png"), linear-gradient(to right, #f57d7d 15%, #f8adad, #fcdcdc, #f8adad, #f57d7d 85%);
    text-align: center;
    background-size: 300px, contain;
    background-repeat: repeat;
    border-bottom: 10px solid #ef3737;
    /*border-bottom: 45px solid lighten($r3,5%);*/
}

.tp-cntnt .photo-rounder {
    position: relative;
}

.tp-cntnt .photo-rounder img {
    position: absolute;
    bottom: 0;
    left: 0;
}

.tp-cntnt h2 {
    font-size: 17px;
    letter-spacing: 5px;
    text-align: center;
    color: #fff;
    background-color: rgba(237, 31, 31, 0.4);
    padding: 5px;
    text-transform: uppercase;
}

.tp-cntnt p {
    margin: 10px auto;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: justify;
}

@media (max-width: 992px) {
    .tp-cntnt {
        display: none;
    }
}

.tp-cntnt2 {
    background: linear-gradient(to right, #ed1f1f 15%, #f8adad, #fcdcdc, #f8adad, #ed1f1f 85%);
    text-align: center;
    background-size: contain;
    border-bottom: 10px solid #ef3737;
}

.tp-cntnt2 .photo-rounder {
    position: relative;
}

.tp-cntnt2 .photo-rounder img {
    position: absolute;
    bottom: 0;
    left: 0;
}

.tp-cntnt2 h3 {
    font-size: 17px;
    letter-spacing: 5px;
    text-align: center;
    color: #fff;
    margin: 10px 0;
    padding: 0;
}

.tp-cntnt2 p {
    padding-top: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: justify;
    color: #fff;
}

@media (max-width: 992px) {
    .tp-cntnt2 {
        display: none;
    }
}

.myslider {
    margin-left: -15px;
    margin-right: -15px;
}

.myslider #sldr {
    overflow: hidden;
    position: relative;
    padding: 0;
    height: 350px;
}

.myslider .ps_control_rt_y .carousel-control-prev,
.myslider .ps_control_rt_y .carousel-control-next {
    background: rgba(237, 31, 31, 0.4);
}

.myslider .ps_control_rt_y .carousel-control-prev:hover,
.myslider .ps_control_rt_y .carousel-control-next:hover {
    color: #fff;
    background: #ed1f1f;
}

.myslider .sldr_slide {
    background: transparent;
}

.myslider .sldr_slide > h1 {
    color: #3b0505;
    font-weight: 700;
}

.myslider .sldr_slide > h6 {
    color: black;
}

.myslider .sldr_slide > a {
    color: #000;
    background: #f8adad;
}

.myslider .sldr_slide > a:hover {
    color: #ed1f1f;
    background: #000;
}

.myslider .sldr_slide p {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ed1f1f;
    right: 0;
    font-weight: 300;
    font-size: 30px;
    margin-right: 15px;
    padding: 5px 15px;
    border-radius: 4px;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    font-style: italic;
}

@media (max-width: 992px) {
    .myslider .sldr_slide p {
        position: absolute;
        bottom: 0;
        background-color: rgba(237, 31, 31, 0.7);
        color: #dbc057;
        right: 0;
        left: auto;
        font-weight: 300;
        font-size: 20px;
        margin-right: 0;
        padding: 5px 15px;
        border-radius: 4px;
        letter-spacing: 0.03em;
        text-transform: capitalize;
        font-style: italic;
    }
}

.m-head {
    text-align: center;
    background: #065647;
    color: #fff;
    padding: 10px 0;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 22px;
    margin: 0;
    width: 100%;
    text-transform: capitalize;
    border-top: #065647;
    border-bottom: #065647;
}

@media (max-width: 992px) {
    .m-head {
        letter-spacing: 0;
        font-size: 20px;
    }
}

.m-head2 {
    text-align: center;
    background: repeating-linear-gradient(to bottom, #f14e4e, #ed1f1f);
    color: #fff;
    padding: 10px 0;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 22px;
    margin: 0;
    width: 100%;
    text-transform: capitalize;
}

@media (max-width: 992px) {
    .m-head2 {
        padding: 5px;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 20px;
        margin: 0;
    }
}

.tour-head {
    text-align: center;
    background: repeating-linear-gradient(to bottom, #f57d7d, #ed1f1f);
    color: #fff;
    padding: 10px 0;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 22px;
    margin: 0;
    width: 100%;
    text-transform: capitalize;
}

@media (max-width: 992px) {
    .tour-head {
        background: repeating-linear-gradient(to bottom, #ede0ab, #dbc057);
        color: #065647;
    }
}

.s-head {
    text-align: center;
    background: linear-gradient(to right, #dbc057, #ede0ab, #dbc057);
    color: #065647;
    padding: 10px 0;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    width: 100%;
}

.s-head small {
    display: block;
    font-size: 13px;
    font-style: italic;
}

.s-head2 {
    text-align: left;
    color: #ed1f1f;
    padding: 10px 0;
    font-weight: 700;
    font-size: 22px;
    margin: 0;
    width: 100%;
}

.s-head2 small {
    display: block;
    font-size: 13px;
    font-style: italic;
}

.cardLink {
    background-color: #ed1f1f;
}

.cardLink hr {
    background: rgba(255, 255, 255, 0.2);
    margin: 0;
    width: 100%;
    display: block;
    margin-top: 17px;
}

.cardLink:hover {
    color: inherit;
    text-decoration: none;
}

.cardLink .mycard {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    cursor: pointer;
    background-image: radial-gradient(at 10% 50%, #ede0ab 35%, #f6efd5 46%, #ede0ab 70%, #f6efd5 81%);
    padding: 5px 5px 0 5px;
    margin-bottom: 30px;
}

.cardLink .mycard .card-img-top {
    border-bottom: none;
}

.cardLink .mycard .card-text {
    height: 170px;
    color: #000;
    overflow: hidden;
    font-size: 16px;
}

.cardLink .mycard .card-price {
    font-size: 18px;
    color: #065647;
    margin: 0;
    padding: 0 20px;
    font-weight: bold;
}

.cardLink .mycard .card-body {
    padding: 5px;
    text-align: center;
}

.cardLink .mycard .btn {
    margin: 0;
    margin-top: -5px;
}

.cardLink .mycard .card-img-top {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.cardLink .mycard .twoline {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.cardLink .mycard .twoline .headsr {
    display: table;
    height: 46px;
    width: 100%;
}

.cardLink .mycard .twoline .headsr h3 {
    display: table-cell;
    vertical-align: middle;
}

.cardLink .mycard .card-title {
    color: #fff;
    font-weight: 700;
    background: repeating-linear-gradient(to bottom, #0db596, #065647);
    font-size: 16px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    border: none;
    text-align: center;
}

.cardLink .etiket-sarici {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 0;
}

.cardLink .etiket {
    position: absolute;
    display: none;
    transition-duration: .3s;
    width: 100%;
    margin: 0;
    padding: 0;
}

.cardLink .etiket li {
    list-style: none;
    display: inline-block;
    padding: 3px 0;
    font-size: 20px;
    width: 100%;
    text-align: center;
    transition-duration: .2s;
    background: rgba(255, 255, 255, 0.6);
}

.cardLink .etiket li:last-child {
    color: #065647;
    font-weight: bold;
}

.cardLink .etiket li:first-child {
    color: #065647;
    font-weight: bold;
}

@media (max-width: 992px) {
    .cardLink .mycard {
        position: relative;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 0;
        padding: 0;
        border-radius: 0;
        border-bottom: 0;
        padding-bottom: 5px;
    }

    .cardLink .mycard .card-text {
        height: auto;
    }
}

.btm-cntnt {
    background: url("/content/images/lights.png"), #e4d081;
    background-size: 250px, contain;
    background-repeat: repeat;
    background-attachment: fixed;
}

.btm-cntnt .container {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 30px;
    margin: 120px auto;
    border-radius: 8px;
}

.btm-cntnt h4 {
    font-size: 17px;
    color: #ed1f1f;
}

.btm-cntnt p {
    font-size: 14px;
}

footer {
    background: radial-gradient(farthest-corner at center bottom, #065647, #043e33, #065647);
    color: #dbc057;
    font-size: 12px;
    margin-top: 40px;
}

footer .footer-top {
    background: url("/content/images/stars.png"), linear-gradient(to left, #d2b02d 60%, #dbc057 71%);
    background-size: 200px, contain, contain;
    background-repeat: repeat;
    border-top: 10px solid #065647;
    font-weight: bold;
    color: #065647;
    font-size: 20px;
    font-style: italic;
}

footer .footer-top p {
    display: inline-block;
    padding: 2px 10px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.4);
}

@media (max-width: 992px) {
    footer .footer-top {
        background: url("/content/images/stars.png"), linear-gradient(to left, #6a0909 60%, #ed1f1f 71%);
        background-size: 200px, contain, contain;
        background-repeat: repeat;
        border-top: 10px solid #dbc057;
        font-weight: bold;
        color: #dbc057;
        font-size: 25px;
        font-style: italic;
    }

    footer .footer-top p {
        display: inline-block;
        padding: 2px 10px;
        border-radius: 4px;
        background: none;
    }
}

footer .footer-bottom {
    background: radial-gradient(farthest-corner at center bottom, black, #010e0c, #065647);
    border-top: 1px double #010e0c;
    font-weight: 400;
    font-size: 12px;
}

footer .footer-bottom p {
    display: inline-block;
    padding: 0;
    color: #dbc057;
    font-size: 11px;
    margin: 5px auto;
}

footer .footer-bottom .list-inline {
    margin: 5px auto;
}

footer h5 {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    color: #fff;
    margin: 14px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 3px;
    letter-spacing: 2px;
}

footer i {
    margin-right: 10px;
    color: #dbc057;
}

footer ul li {
    list-style: none;
    margin-bottom: 5px;
}

footer ul li a {
    color: #e4d081;
    font-size: 11px;
    font-weight: 400;
    text-transform: capitalize;
}

footer ul li a:hover {
    color: #fff;
}

footer hr {
    background-color: rgba(255, 255, 255, 0.1);
}

footer .logo-footer {
    text-align: center;
    max-height: 50px;
    border-radius: 8px;
    padding: 3px 10px;
    margin-bottom: 5px;
    transition-duration: .4s;
}

@media (max-width: 992px) {
    footer {
        background-color: #3b0505;
        color: #fff;
        font-size: 13px;
        font-weight: 400;
        margin-top: 0;
    }

    footer ul li {
        text-align: center;
    }
}

.tours-container {
    padding-top: 10px;
}

@media (max-width: 992px) {
    .tours-container {
        padding-top: 0;
    }
}

.smallcard hr {
    background: rgba(255, 255, 255, 0.2);
    margin: 0;
    width: 100%;
    display: block;
    margin-top: 17px;
}

.smallcard:hover {
    color: inherit;
    text-decoration: none;
}

.smallcard .mycard {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    cursor: pointer;
    background-color: #fff;
    margin-bottom: 30px;
}

.smallcard .mycard .card-img-top {
    border-bottom: none;
}

.smallcard .mycard .card-text {
    height: 95px;
    color: #000;
    overflow: hidden;
}

.smallcard .mycard .card-price {
    font-size: 25px;
    color: #dbc057;
    margin-top: 8px;
    margin-left: 10px;
    font-weight: bold;
}

.smallcard .mycard .card-body {
    padding: 5px;
    text-align: center;
    background-color: #065647;
}

.smallcard .mycard .btn {
    margin: 0;
    margin-top: 5px;
}

.smallcard .mycard .card-img-top {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.smallcard .mycard .twoline {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.smallcard .mycard .twoline .headsr {
    display: table;
    height: 46px;
    width: 100%;
}

.smallcard .mycard .twoline .headsr h3 {
    display: table-cell;
    vertical-align: middle;
}

.smallcard .mycard .card-title {
    color: #ed1f1f;
    font-weight: 700;
    background-color: #ede0ab;
    font-size: 14px;
    letter-spacing: 0;
    width: 100%;
    margin: 0;
    padding: 5px 0;
    display: inline-block;
    border: none;
    text-align: center;
}

.form-container {
    background: repeating-linear-gradient(to right, #dbc057, #e9d896, #e4d081, #dbc057, #e9d896);
    padding: 15px;
}

.form-container .radio-inline {
    color: #000;
}

.tr-cont {
    border-radius: 0 4px 4px 0;
}

.blg .card {
    background: url("/content/images/pattern.png"), linear-gradient(to right, #fde5e5 15%, #fef3f3, #fde5e5, #fef3f3, #fde5e5 85%);
    background-size: auto, contain;
    background-repeat: repeat;
    margin-bottom: 20px;
}

.blg .card i {
    text-shadow: none;
    color: #ed1f1f;
}

.blg .card h2 {
    background: url("/content/images/pattern.png"), linear-gradient(to right, #f36666 15%, #f69595, #f36666, #f69595, #f36666 85%);
    background-size: auto, contain;
    background-repeat: repeat;
    font-size: 18px;
    display: table-cell;
    vertical-align: middle;
    color: white;
}

.blg .card .card-text {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #000;
    overflow: hidden;
    font-size: 14px;
    line-height: 22px;
}

.blg .card .card-footer {
    border: none;
    background: url("/content/images/pattern-orange.png"), linear-gradient(to right, #f9b6b6 15%, #fac4c4, #f9b6b6, #fac4c4, #f9b6b6 85%);
    background-size: auto, contain;
    background-repeat: repeat;
    color: #000;
}

.blg .card .card-header {
    padding: 0;
    display: table;
    height: 50px;
    text-align: center;
    width: 100%;
    background-color: white;
}

.blg .card .card-body {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 205px;
    overflow: hidden;
}

.blg .pagination-container {
    display: table;
    margin: 0 auto;
}

.blg .pagination li {
    margin: 0 5px;
    padding: 0;
}

.blg .pagination li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
    border: none;
    padding-top: 10px;
    text-align: center;
    background-color: #f8adad;
    color: #fff;
}

.blg .pagination li a:hover {
    background-color: #ed1f1f;
}

.blg .oneblg a {
    color: #bd9f29;
}

.blg-side {
    margin-bottom: 30px;
}

.blg-side li {
    background: url("/content/images/pattern-orange.png"), linear-gradient(to right, #fde5e5 15%, #fef3f3, #fde5e5, #fef3f3, #fde5e5 85%);
    background-size: auto, contain;
    background-repeat: repeat;
}

.blg-side li:hover {
    background: repeating-linear-gradient(to bottom, #ed1f1f, #f57d7d, #ed1f1f);
}

.blg-side li .title {
    padding-left: 10px;
    font-size: 13px;
    color: #333;
}

.blg-side li i {
    padding-left: 10px;
    font-size: 13px;
    color: #ed1f1f;
}

.topSlide {
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.jumbotron .display-4 {
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 30px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.38);
    width: 100%;
    padding: 5px;
}

#contactform {
    padding: 15px;
    padding-bottom: 0;
}

.sec-slider {
    margin: 10px auto 30px auto;
    background: linear-gradient(to left, #3f8a73 40%, #618e7e, #3f8a73 60%);
    background-size: auto;
    width: 100%;
    display: block;
    padding: 5px;
    border-radius: 2%;
    position: relative;
    text-align: center;
    box-shadow: 1px 0 15px 5px #23313e
}

body .sld-rounder {
    background: linear-gradient(to left, #35705e 40%, #618e7e, #35705e 60%);
    background-size: auto
}

.site-content img {
    max-width: 100%;
    height: auto;
}

.my-bg {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
}

@media (max-width: 992px) {
    .my-bg {
        margin: 0 auto;
    }
}

.onetur .short-ex {
    font-size: 14px;
    font-weight: 400;
    color: #6a0909;
    font-style: italic;
    padding: 0;
    text-align: center;
    margin-top: 10px;
}

.onetur .slider-container .in_th_below_021 > .carousel-indicators {
    background: #dbc057;
    /*background: transparent;*/
}

.onetur .slider-container .in_th_below_021 > .carousel-indicators li {
    background-color: transparent;
    border: 2px solid transparent;
}

.onetur .slider-container .in_th_below_021 > .carousel-indicators .active {
    background-color: white;
    border: 2px solid #f57d7d;
}

.onetur .slider-container .in_th_below_021 > .carousel-indicators::-webkit-scrollbar {
    background: rgba(255, 255, 255, 0.3);
}

.onetur .slider-container .in_th_below_021 > .carousel-indicators::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.7);
}

.onetur .slider-container .fa-chevron-circle-right, .onetur .slider-container .fa-chevron-circle-left {
    font-size: 30px;
    color: white;
    position: relative;
    margin-top: -50%;
}

@media (max-width: 992px) {
    .onetur .slider-container {
        padding: 0;
    }
}

.onetur .form-group {
    margin: 0;
}

.onetur .form-group label {
    margin: 0;
    margin-top: 10px;
    font-size: 12px;
}

.onetur .btn {
    margin-top: 30px;
}

.onetur .t-prog {
    margin-bottom: 0;
}

.onetur .t-prog .list-group-flush {
    border-bottom: none;
}

.onetur .t-prog .list-group-flush li {
    padding: 5px 10px;
    transition-duration: .1s;
    list-style: none;
    text-align: left;
    font-weight: 500;
    background: repeating-linear-gradient(to right, #065647, #086e5b);
    color: #fff;
    font-size: 15px;
}

.onetur .t-prog .list-group-flush li i {
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    padding-left: 5px;
    margin-right: 10px;
}

.onetur .t-prog p {
    text-align: center;
    background: linear-gradient(to right, #065647, #0db596, #065647);
    color: #dbc057;
    padding: 5px 0;
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    width: 100%;
}

.onetur .t-prog br {
    display: none;
}

.onetur .tspcfc {
    margin-bottom: 15px;
}

.onetur .tspcfc .saat {
    display: inline-block;
}

.onetur .tspcfc .ozellik {
    background: repeating-linear-gradient(to right, #065647, #086e5b);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 5px;
    padding-left: 10px;
    text-align: left;
    font-weight: 500;
    color: #fff;
    font-size: 16px;
}

.onetur .tspcfc .ozellik span {
    color: #e4d081;
    font-weight: bold;
}

.onetur .tspcfc .ozellik span:after {
    content: " : ";
}

.onetur .tspcfc .t-price {
    text-align: left;
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

.onetur .tspcfc .t-price span {
    font-size: 13px;
    position: relative;
    top: -3px;
}

.onetur .tspcfc .t-price i {
    padding: 0;
    font-weight: 600;
    margin: 0;
}

.onetur .tour-explanation {
    padding: 0;
}

.onetur .tour-explanation img {
    float: left;
    margin-top: 5px;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 300px;
    background-color: #0db596;
    border: 16px dashed #ed1f1f;
    border-radius: 16px;
}

.onetur .tour-explanation a {
    color: #ed1f1f;
    font-weight: 700;
    text-decoration: underline;
}

.onetur .tour-tags {
    padding: 0 10px;
    margin-bottom: 15px;
}

.onetur .tour-tags .tegcloud {
    display: inline-block;
    padding: 30px 5px;
}

.onetur .tour-tags .teg-1 {
    font-size: 15px;
    color: #ed1f1f;
}

.onetur .tour-tags .teg-2 {
    font-size: 18px;
    color: #4b729c;
}

.onetur .tour-tags .teg-3 {
    font-size: 21px;
    color: #ed1f1f;
}

.onetur .tour-tags .teg-4 {
    font-size: 24px;
    color: #dbc057;
}

.onetur .tour-tags .teg-5 {
    font-size: 36px;
    color: #dbc057;
}

@media (max-width: 992px) {
    .onetur {
        padding-top: 0;
    }

    .onetur .other-tours {
        border-bottom: 10px solid #f36666;
    }

    .onetur .short-ex {
        display: none;
    }

    .onetur .t-prog {
        margin-bottom: 0;
        padding: 0;
    }

    .onetur .tspcfc {
        margin-bottom: 15px;
        padding: 0;
    }

    .onetur .tour-explanation {
        padding: 0;
    }

    .onetur .tour-explanation img {
        float: none;
        margin-top: auto;
        margin-right: auto;
        margin-bottom: 15px;
        width: 100%;
    }

    .onetur .tour-tags {
        display: none;
    }
}

body {
    font: 100% "Roboto Slab", serif;
    color: #4d4d4d;
    font-size: 13px;
    background: url("/content/images/bg.png");
    background-size: auto;
    background-repeat: repeat;
}

body .aktif {
    background-color: #ed1f1f;
}

body .aktif a {
    color: #fff;
}

body .fa-whatsapp {
    color: #13a31a;
}

body .fa-viber {
    color: #892eb4;
}

body .fa-twitter {
    color: #4099ff;
}

body .fa-facebook {
    color: #3B5998;
}

body .fa-vk {
    color: #4b729c;
}

body .fa-odnoklassniki-square {
    color: #ed7e1f;
}

body .fa-instagram {
    color: #981e89;
}

body a:hover {
    color: #1a1a1a;
    text-decoration: none;
}

body i {
    margin-right: 5px;
}

.price-table {
    background-color: #086c59;
    color: #fff;
}

.price-table caption {
    padding: 0;
}

.btn-primary {
    color: #fff;
    background-color: #6a0909;
    border-color: transparent;
}

.btn-primary:hover {
    color: #fff;
    background-color: #9a0c0c;
    border-color: #e01212;
}

.btn-primary:focus, .btn-primary .focus {
    box-shadow: 0 0 0 0.2rem rgba(237, 31, 31, 0.5);
}

.btn-primary .disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #ed1f1f;
    border-color: #b10e0e;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.btn-primary .show > .dropdown-toggle {
    color: #fff;
    background-color: #ed1f1f;
    border-color: #b10e0e;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary .show > .dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(237, 31, 31, 0.5);
}

@media (max-width: 992px) {
    .btn-primary {
        color: #000;
        background-color: #f57d7d;
        border-color: transparent;
    }

    .btn-primary:hover {
        color: #000;
        background-color: #f8adad;
        border-color: #e01212;
    }

    .btn-primary:focus, .btn-primary .focus {
        box-shadow: 0 0 0 0.2rem rgba(237, 31, 31, 0.5);
    }
}

.btn-secondary {
    color: #fff;
    background-color: #c91010;
    border-color: #e01212;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #b10e0e;
    border-color: #820a0a;
}

.btn-secondary:focus, .btn-secondary .focus {
    box-shadow: 0 0 0 0.2rem rgba(237, 31, 31, 0.5);
}

.btn-secondary .disabled, .btn-secondary:disabled {
    color: #fff;
    background-color: #ed1f1f;
    border-color: #b10e0e;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary .show > .dropdown-toggle {
    color: #fff;
    background-color: #ed1f1f;
    border-color: #b10e0e;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary .show > .dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(237, 31, 31, 0.5);
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    border: 5px solid #fff;
    height: 436px;
}

.iframe-container > * {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.contact-tb {
    background-color: white;
    font-size: 13px;
}

.contact-tb .row {
    border-bottom: 1px solid rgba(154, 12, 12, 0.1);
    padding: 2px 0 2px 20px;
}

.contact-tb ul {
    padding-left: 15px;
}

.contact-tb ul li {
    list-style: none;
    padding-bottom: 2px;
    padding-top: 2px;
    border-bottom: 1px solid rgba(154, 12, 12, 0.1);
}

.contact-tb .sol {
    color: #6a0909;
    text-transform: uppercase;
    padding: 5px;
}

.contact-tb .sag {
    color: #000;
    text-transform: lowercase;
}

.contact-tb img {
    padding-right: 15px;
    height: 20px;
}

.modal-backdrop {
    background-color: #ffffff;
}

#success-modal p {
    background: #12c06a;
    position: relative;
    top: -70px;
    padding: 10px;
    border-radius: 8px;
    font-size: 30px;
    text-align: center;
    font-weight: 800;
    color: #fff;
    padding-bottom: 30px;
}

.loading {
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 9999999999999;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}

.loading .loading-inside {
    width: 50px;
    height: 50px;
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1120;
}

.loading .loading-inside:before {
    content: '';
    width: 50px;
    height: 5px;
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
}

.loading .loading-inside:after {
    content: '';
    width: 50px;
    height: 50px;
    background: #2fa8d9;
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
}

@keyframes animate {
    17% {
        border-bottom-right-radius: 3px;
    }
    25% {
        transform: translateY(9px) rotate(22.5deg);
    }
    50% {
        transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }
    75% {
        transform: translateY(9px) rotate(67.5deg);
    }
    100% {
        transform: translateY(0) rotate(90deg);
    }
}

@keyframes shadow {
    0%, 100% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1);
    }
}

.success-img {
    background: #12c06a;
    text-align: center;
    margin: 50px;
    border-radius: 8px;
}

.success-img img {
    width: 25%;
}

@media (max-width: 992px) {
    .success-img img {
        max-width: 100%;
        height: auto;
        width: auto;
    }
}

.successful-booking {
    text-align: center;
    position: relative;
    top: -30px;
}

.successful-booking p {
    margin-top: 0;
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.head-content {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fefcea+0,fded1b+100 */
    background: #fefcea;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #fefcea 0%, #fded1b 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #fefcea 0%, #fded1b 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #fefcea 0%, #fded1b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefcea', endColorstr='#fded1b', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    display: inline-block;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.head-content h2 {
    font-size: 22px;
}

@media (max-width: 992px) {
    .head-content {
        display: none;
    }
}

.places h2 {
    font-size: 20px;
}

.places .sctn {
    display: inline;
    padding-right: 5px;
}

.places .sctn span {
    color: #a88d24;
    font-weight: 900;
}

.dest-img {
    width: 100%;
}

/*seach    */

mark {
    background-color: pink;
}

.list-autocomplete {
    padding: 0;
}

.list-autocomplete em {
    font-style: normal;
    background-color: #e1f2f9;
}

.hasNoResults {
    color: #aaa;
}

.hasNoResults,
.btn-extra {
    display: block;
    padding: 10px;
}

.hasNoResults {
    color: #aaa;
}

.btn-extra {
    width: 100%;
    border-top: .5px solid #c81f0c;
}

.nav-social .icon-button {
    background-color: #fff;
    border-radius: 2rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3rem;
    height: 1.8rem;
    line-height: 1.8rem;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1.8rem;
}


.open > .dropdown-menu, .show > .dropdown-menu {
    display: block;
}

.fullImgWidth img {
    width: 100%;
    height: auto;
}

.tourSearchBox .dropdown {
    border: 8px solid #723498;
}

.mobileContent {
    background-color: #723498;
    color: #fff;
    font-size: 20px;
}

/*end search*/
.success-img {
    background: #12c06a;
    text-align: center;
    margin: 50px;
    border-radius: 8px
}

.success-img img {
    width: 25%
}

@media (max-width: 992px) {
    .success-img img {
        width: 100%;
        height: auto
    }
}

.successful-booking {
    text-align: center;
    position: relative;
    top: -30px
}

.successful-booking p {
    margin-top: 0;
    width: 100%;
    font-size: 22px;
    font-weight: 700;
    color: #fff
}